# Files to ignore by git
*.pyc
*.sh
*.npy

# Paths to ignore
climnet.egg-info/
geoutils.egg-info/
.ipynb_checkpoints/
.mypy_chache/
.vscode/
.pytest_cache/

climnet/link_bundles/
climnet/null_model/
plots/*
outputs/*

*.sh
*.npy

tutorials/test_files/
/data/
/outputs/

__pycache__


