jupyter
netcdf4
pandas
ipython
xarray
numpy
tqdm
multiprocess
metpy
pip
scipy
joblib
cartopy==0.22.0
matplotlib  
palettable
ipywidgets
scikit-learn
# windspharm
statsmodels
seaborn
dask
cmocean
cmweather
zarr
# cdo
# python-cdo